@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,500;1,700&display=swap');
/*
 * Page name
 * Copyright 2021
 * Author
 * Licensed
 */
/* -------------------------- *\
	Content
\* -------------------------- */
/**
 * Content ............ You are reading it!
 * Globel ............ Set common styles
 * Layout ............ Set grid styles
 * Component ............ Set component styles
 */

/* -------------------------- *\
	Globel
\* -------------------------- */
*{
	box-sizing: border-box;
	position: relative;
}
html,body{
	font-family: 'M PLUS Rounded 1c',  Fangsong, sans-serif;
	width: 100%;
}
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
	color: #333;
}

/* col-1-4 = col-3, col-1-3 = col-4, col-1-2 = col-6 */
.col-lg-6,.col-lg-4,.col-lg-3,.col-lg-12,
.col-md-6,.col-md-4,.col-md-3,.col-md-12,
.col-sm-6,.col-sm-4,.col-sm-3,.col-sm-12{
	/* border: 1px solid red; */
	display: inline-block;
	vertical-align: top;
}
.col-lg-3{
	width: 25%;
}
.col-lg-4{
	width: 33.3333333%;
}
.col-lg-6{
	width: 50%;
}
.col-lg-12{
	width: 100%;
}
@media screen and (max-width: 768px){
	.col-md-3{
		width: 25%;
	}
	.col-md-4{
		width: 33.3333333%;
	}
	.col-md-6{
		width: 50%;
	}
	.col-md-12{
		width: 100%;
	}
}
@media screen and (max-width: 540px){
	.col-sm-3{
		width: 25%;
	}
	.col-sm-4{
		width: 33.3333333%;
		padding: 0 5px;
	}
	.col-sm-6{
		width: 50%;
		padding: 0 10px;
	}
	.col-sm-12{
		width: 100%;
	}
}

/* -------------------------- *\
	Layout
\* -------------------------- */

/* container，不含row-con */
.container{
	max-width: 1140px;
	width: 100%;
	border: 1px solid rgba(0,0,0,0);
	margin: 0 auto;
	padding: 60px 16px;
}

.footer-con{
	max-width: 1140px;
	width: 100%;
	/* border: 1px solid #000; */
	margin: 0 auto;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
}

/* bg-color */
.bg{
	background-color: #3dc5a4;
}

.bg-fresh{
	background-image: url('../image/新生-探險.jpg');
	background-size: cover;
	background-attachment: fixed;
}

.bg-grey{
	background-color: #efefef;
}

.bg-gate{
	background-image: url('../image/校門.jpg');
	background-size: cover;
	background-attachment: fixed;
}

.IG-sec,
.footer{
	background-image: url('../image/圖書館.jpg');
	background-size: cover;
	background-attachment: fixed;
}

.mask-dark{
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* navbar */
.navbar{
	/* border: 1px solid red; */
	display:inline-block;
	position: fixed;
	height: 66px;
	width: 100%;
	background-color: #3DC5A4;
	z-index: 50;
	padding: 0 30px;
}
@media screen and (max-width: 540px){
	.navbar{
		padding: 0;
		padding-right: 10px;
	}
}


.navbar .brand{
	display: inline-block;
	vertical-align: top;
	/*border: 1px solid #000;*/
	width: 200px;
	height: 64px;
	background-image: url('../image/LOGO\ B.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	white-space: nowrap;
	text-indent: 100%;
	overflow: hidden;
}

.navbar .nav{
	float: right;
}
.navbar .nav .nav-item{
	float: left;
}

.navbar .nav .nav-link{
	display: block;
	font-weight: bold;
	color: #000;
	line-height: 24px;
	padding: 20px 16px;
	line-height: 24px;
	transition: color 0.3s;
}
.navbar .nav .nav-link:hover{
	color: #fff;
}

@media screen and (max-width: 768px){
	.navbar .nav{
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: #000;
		z-index: 500;

		display: flex;
		flex-direction: column;
		justify-content: center;

		opacity: 0;
		visibility: hidden;
		transition: all 0.3s;
	}
	#popup-menu:target{
		opacity: 1;
		visibility: visible;
	}
	.navbar .nav .nav-link{
		text-align: center;
		padding: 20px 16px;
		font-size: 20px;
		color: #fff;
	}
}

.navbar .menu-toggle{
	width: 48px;
	height: 48px;
	/*border: 1px solid #fff;*/
	float: right;
	margin-top: 8px;
	display: none;
}

@media screen and (max-width: 768px){
	.navbar .menu-toggle{
		display: inline-block;
	}
}
.navbar .menu-toggle span{
	display: block;
	width: 32px;
	height: 2px;
	background-color: #000;
	position: absolute;
	left: 50%;
	transform: translate(-50%,0);
}
.navbar .menu-toggle span:nth-child(1){
	top: 12px;
}
.navbar .menu-toggle span:nth-child(2){
	top: 22px;
}
.navbar .menu-toggle span:nth-child(3){
	top: 32px;
}

.navbar .close-btn{
	display: none;
	width: 48px;
	height: 48px;
	position: absolute;
	right: 16px;
	top: 8px;
}

@media screen and (max-width: 768px){
	.navbar .close-btn{
		display: block;
	}
}
.navbar .close-btn span{
	width: 40px;
	height: 2px;
	position: absolute;
	background-color: #fff;
	top: 50%;
	left: 50%;
}
.navbar .close-btn span:nth-child(1){
	transform: translate(-50%,-50%) rotate(45deg);
}
.navbar .close-btn span:nth-child(2){
	transform: translate(-50%,-50%) rotate(-45deg);
}

.row{
	padding: 0 40px;
	margin: auto;
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 540px) {
	.row{
		padding: 0 10px;
	}
}

.row-block--mt20{
	margin-top: 20px;
	display: block;
	width: 100%;
	margin-top: 20px;
	padding: 0 20px;
}

.row-block--pad0{
	display: block;
	width: 100%;
	margin-top: 20px;
	padding: 0;
}

@media screen and (max-width: 540px) {
	.row-block--pad10{
		margin: 0;
	}
}

.row-block{
	display: block;
	/* border: 1px solid #000; */
	width: 100%;
	margin-top: 60px;
	padding: 0 20px;
}

.row-block .item{
	width: 100%;
}

.row-block .item .title--ano{
	margin-top: 24px;
	margin-bottom: 20px; 
	font-size: 40px;
	color: #fff;
	text-align: center;
	z-index: 3;
}

.row-block .item .para--ano{
	font-size: 18px;
	line-height: 32px;
	font-weight: bold;
	color: #3DC5A4;
	text-align: center;
	padding-bottom: 10px;
}

@media screen and (max-width: 540px) {
	.row-block{
		margin-top: 0;
	}
	.row-block .item .title--ano{
		font-size: 25px;
		margin: 0 auto;
		margin-top: 80px;
	}
	.row-block .item .para--ano{
		font-size: 12px;
		line-height: 24px;
		padding-bottom: 0;
		padding-top: 5px;
	}
}

.row-con-1{
	display: inline-flex;
	/* border: 1px solid #000; */
	width: 100%;
	margin: 20px auto;
	justify-content: center;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
}

.row-con-1 .title{
	font-size: 40px;
	color: #fff;
}

.row-con-2{
	display: inline-flex;
	/* border: 1px solid #000; */
	width: 100%;
	margin: 20px auto;
	justify-content: center;
	vertical-align: top;
	padding-left: 10px;
	padding-right: 10px;
}

@media screen and (max-width: 768px){
	.row-con-1, .row-con-2{
		display: inline-block;
	}
	
}

.row-con-2 .title{
	font-size: 40px;
	color: #fff;
}

.row .copyright{
	/* border: 1px solid blue; */
	display: inline;
	width: 100%;
	height: 64px;
}

/* btn按鈕 */
.btn{
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 24px;
	padding: 4px 16px;
	margin-top: 8px;
	border: 1px solid #fff;
	color: #fff;
	border-radius: 4px;
	transition: all 0.3s;
}

.btn.btn-primary{
	display: block;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 3px;
	text-align: center;
	line-height: 24px;
	padding: 4px 16px;
	margin: 10px 40px;
	border: 1.5px solid #3DC5A4;
	color: #3DC5A4;
	border-radius: 20px;
	transition: all 0.3s;
}

.btn.btn-primary:hover{
	background-color: #3DC5A4;
	color: #fff;
}

@media screen and (max-width: 540px) {
	.btn.btn-primary{
		font-size: 16px;
		margin-right: 0px;
		margin-left: 0px;
		padding: 2px 2px;
	}
}

.btn.btn-secondary{
    background-color: #3DC5A4;
    color: #fff;
	font-weight: 700;
    border-radius: 20px;
    transition: all 0.3s;
	float: right;
}
.btn.btn-secondary:hover{
	background-color: #fff;
	border: 1px solid #3dc5a4;
	color: #3DC5A4;
}
@media screen and (max-width: 540px) {
	.btn.btn-secondary{
		font-size: 14px;
		margin-right: 0px;
		margin-left: 0px;
		margin-top: 4px;
		padding: 2px 2px;
		margin-bottom: 20px;
		border-radius: 10px;
	}
}


/* section-intro 各區段標題 */

.section-intro-small{
	/* border: 1px solid yellow; */
	width: 100%;
	height: 100%;
	vertical-align: top;
	font-size: 40px;
	color: #333;
	padding: 0 20px;
}

@media screen and (max-width: 540px) {
	.section-intro-small .title{
		margin-top: 80px;
	}
	.row-first{
		margin-top: 110px;
	}
}

.section-intro-small .title{
	font-size: 40px;
	color: #fff;
	padding-top: 40px;
	text-align: center;
}

.section-intro-small .title--black{
	font-size: 40px;
	color: #000;
	padding-top: 40px;
	text-align: center;
}

.section-intro-small .title--fresh{
	font-size: 20px;
	color: #fff;
	padding: 20px 0;
	text-align: center;
}

.section-intro-small .para{
	font-size: 20px;
	line-height: 32px;
	font-weight: bold;
	color: #3DC5A4;
	text-align: center;
}

@media screen and (max-width: 540px) {
	.section-intro-small .title{
		font-size: 30px;
	}
	.section-intro-small .title--black{
		font-size: 30px;
	}
	.section-intro-small .para{
		font-size: 16px;
		line-height: 30px;
		padding-bottom: 30px;
		padding-top: 5px;
	}
}

.section-intro{
	/* border: 1px solid yellow; */
	width: 100%;
	vertical-align: top;
	font-size: 40px;
	color: #fff;
	padding-left: 50px;
}

.section-intro .title{
	font-size: 40px;
	color: #fff;
	padding-top: 24px;
	/* padding-bottom: 6px; */
}

.section-intro .para{
	display: block;
	font-size: 18px;
	line-height: 32px;
	font-weight: bold;
	color: #3DC5A4;
	padding: 20px 0;
	font-weight: 600;
}
@media screen and (max-width: 540px) {
	.section-intro{
		padding-left: 20px;
	}
	.section-intro .title{
		font-size: 30px;
	}
	.section-intro .para{
		font-size: 12px;
		line-height: 24px;
		padding-bottom: 30px;
		padding-top: 5px;
	}
}

.section-intro-contact{
	/* border: 1px solid yellow; */
	width: 100%;
	height: 100px;
	vertical-align: top;
	font-size: 40px;
	padding-left: 10px;
}

.section-intro-contact .title{
	display:inline-block;
	font-size: 40px;
	color: #4f4f4f;
	padding-top: 24px;
	/* padding-bottom: 6px; */
}


@media screen and (max-width: 540px) {
	.section-intro-contact .title{
		font-size: 30px;
		max-width: 200px;
	}
	.section-intro-contact .para{
		font-size: 12px;
		padding-bottom: 2px;
	}
}

/* image-container */
.image-container{
	width: 100%;
	margin-bottom: 15px;
}

.image-container:before{
	content: '';
	display: block;
	width: 100%;
	padding-top: 100%;
}
.image-container .image{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	overflow: hidden;
	transition: transform 0.2s;
	border-radius: 20px;
	margin: 10px;
}
.borrow-item:hover .image-container .image{
	transform: scale(1.1);
}

@media screen and (max-width: 540px) {
	.image-container .image{
		margin: 0;
	}
}

/* contact 聯絡資訊 */
.contact-info{
	padding-top: 12px;
}
.contact-info .info-item{
	margin-bottom: 24px;
}
.contact-info .info-item .title{
	color: #3DC5A4;
	line-height: 36px;
	margin-bottom: 16px;
}
.contact-info .info-item .title span{
	font-size: 26px;
	border-bottom: 2px solid #3DC5A4;
	display: inline-block;
}
.contact-info .info-item .info{
	line-height: 32px;
	font-size: 19px;
	font-weight: bold;
	color: #4f4f4f;
}

.col-lg-6 .map-container-1, .map-container-2{
	display:inline-block;
	height: 75%;
	width: 100%;
	padding-top: 75%;
	overflow: hidden;
}
.map-container-1 iframe{
	position: absolute;
	left: 0;
	top: 40px;
}

.map-container-2 iframe{
	position: absolute;
	left: 0;
	top: 0;
}


/* item 各類col內容物 */
.item{
	display: inline-block;
}

.item .title{
	font-size: 20px;
	text-align: center;
	color: #F0F0F0;
	margin-top: 8px;
	margin-bottom: 8px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.item .title--black{
	font-size: 20px;
	text-align: center;
	color: #000;
	margin-top: 8px;
	margin-bottom: 8px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.item .title--fresh{
	font-size: 20px;
	text-align: center;
	color: #F0F0F0;
	margin-top: 8px;
	margin-bottom: 8px;
}

@media screen and (max-width: 540px){
	.item .title--fresh{
		font-size: 16px;
	}
}

.item .para{
	font-size: 14px;
	text-align: center;
	color: #F0F0F0;
	line-height: 24px;
	margin-bottom: 6px;
	text-align: justify;
	height: 72px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.item .para--black{
	font-size: 14px;
	text-align: center;
	color: #000;
	line-height: 24px;
	margin-bottom: 6px;
	text-align: justify;
	height: 72px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.item .para--fresh{
	font-size: 16px;
	text-align: center;
	color: #F0F0F0;
	line-height: 24px;
	margin-bottom: 40px;
	text-align: justify;
	margin-left: 10px;
}

.post{
	padding: 0 20px;
}

/* footer */
.footer .brand{
	display: block;
	width: 200px;
	height: 200px;
	margin: 0 auto;
	margin-bottom: 20px;
	background-image: url('../image/八屆群組頭貼\ .png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	border-radius: 10px;
}

.footer .nav-item{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 10px;
}

.footer .nav-item .btn{
	margin-left: 12px;
	margin-right: 12px;
	margin-bottom: 6px;
	background-color: #3DC5A4;
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	line-height: 24px;
	padding: 4px 16px;
	color: #fff;
	border-radius: 4px;
	transition: all 0.3s;
	justify-content: center;
}

.footer .nav-item .btn:hover{
	background-color: #fff;
	border: 1px solid #3dc5a4;
	color: #3DC5A4;
}

.copyright{
	width: 100%;
	height: 48px;
	background-color: rgba(0,0,0,0.75);
	color: #ccc;
	text-align: center;
	line-height: 24px;
	padding: 16px 0;
	font-size: 14px;
}